@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  width: 90vw;
  height: 450px;
}

#my-map {
  height:  260px;
}

.mapboxgl-compact {
  display: none;
}

.custom-tooltip {
  background-color: rgba(77, 69, 69, 0.308);
  width: 150px;
}

.tooltipMax {
  color: red;
}

.tooltipMin {
  color: blue;
}